<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jf_eam_project" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    /** permission **/
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:theme="@style/SampleTheme" >
        <activity
            android:name=".ui.activity.LoadActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.Work_ListActivity"
            android:label="@string/title_activity_work_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.Po_order_Activity"
            android:label="@string/title_activity_po_order_" >
        </activity>
        <activity
            android:name=".ui.activity.Work_DetailsActivity"
            android:label="@string/title_activity_work_details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".ui.activity.Work_AddNewActivity"
            android:label="@string/title_activity_work_addnew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".ui.activity.PO_Details_Activity"
            android:label="@string/title_activity_po__details_" >
        </activity>
        <activity
            android:name=".ui.activity.Poline_Activity"
            android:label="@string/title_activity_poline" >
        </activity>
        <activity
            android:name=".ui.activity.PoLine_Details_Activity"
            android:label="@string/title_activity_po_line_details" >
        </activity>
        <activity
            android:name=".ui.activity.Work_PlanActivity"
            android:label="@string/title_activity_work_plan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
        </activity>
    </application>

</manifest>
